
<!-- find all of the rooms and loop over them -->

<% @rooms.each do |room| %>

	<div class="room"> 
		<%= link_to room_path(room) do %>
			<%= image_tag room.image(:thumbnail) %>
			<!-- this will now link to the page. Don't need the add signs as we are in a loop -->
			<h3> <%= room.name %> </h3>
		<% end %>

	</div>


<% end %>

<%= link_to "Add a New Room", new_room_path %>